{% include "admin.html" %}
{% block content %}
<div class="jumbotron">
  {{ output }}
  {%- if status == 'enable' %}
    <p>Sonde {{ sonde_name }} a été activé</p>
  {%- elif status == 'disable' %}
    <p>Sonde {{ sonde_name }} a été désactivé</p>
  {%- else %}
    <p>Sonde {{ sonde_name }} a été créée
  {%- endif %}
</div>
{% endblock %}





{% include "footer.html" %}
