{% extends "base.html" %}

{% block content %}
<head>
  <script>
    function showPosition() {
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                document.getElementById("sonde_lat").value = position.coords.latitude;
                document.getElementById("sonde_long").value = position.coords.longitude;
                // var latitude = position.coords.latitude
                // var longitude = position.coords.longitude
                var positionInfo = "Votre position actuelle est (" + "Latitude: " + position.coords.latitude + ", " + "Longitude: " + position.coords.longitude + ")";
                document.getElementById("result").innerHTML = positionInfo;
                // document.getElementById("id_sonde_lat").innerHTML = latitude;
                // document.getElementById("id_sonde_long").innerHTML = longitude;
            });
        } else {
            alert("Sorry, your browser does not support HTML5 geolocation.");
        }
    }
  </script>
</head>
<body>
  <div class='container'>
    <div class='jumbotron'>
      <h1>Sondes</h1>
      <h2>Création</h2>
<form action="/admin" method="post">
      <table class="tg">
          <tr>
            <td>
                <input type="hidden" hidden name="form_action" value="create_sonde"/>
                <label for>Nom</label>
            </td>
            <td>
                <input class="full" type="text" name="sonde_name" />
            </td>
            <td>
                <label for>Email</label>
            </td>
            <td>
                <input class="full" type="text" name="email" />
            </td>
          </tr>
          <tr>
            <td>
                <label for>Latitude</label>
            </td>
            <td>
                <input class="full" type="text" name="lat" id="sonde_lat" />
            </td>
            <td>
                <label for>Longitude</label>
            </td>
            <td>
                <input class="full" type="text" name="long" id="sonde_long" />
            </td>
          </tr>
          <tr>
            <td colspan=4 align=center>

                <div id="result">
                  <!--Position information will be inserted here-->
                </div>
                    <button type="button" onclick="showPosition();">Detecter la position lat/long</button>
                    <!-- <body onload="showPosition();"> -->
                    <input type="submit" value="Envoyer" />
                </td>
          </tr>
      </table>
</form>

      <h2>Activation / Désactivation</h2>
      <table class="tg">
        <thead>
          <tr>
            <th class="col-md-9">Nom de la sonde</th>
            <th class="col-md-2">Statut</th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          {%- for sonde in sondes %}
          <form action="/admin" method="post">
            <tr>
              <td>
                <input type="hidden" hidden name="form_action" value="edit_status"/>
                <input type="hidden" hidden name="sonde_id" value="{{ sonde['id'] }}"/>
                <input type="hidden" hidden name="lat" value="{{ sonde['lat'] }}"/>
                <input type="hidden" hidden name="long" value="{{ sonde['long'] }}"/>
                <input type="hidden" hidden name="email" value="{{ sonde['email'] }}"/>
                <input type="hidden" hidden name="api_key" value="{{ sonde['api_key'] }}"/>
                <input type="text" hidden name="sonde_name" value="{{ sonde['name'] }}"/>
                <label for>{{ sonde['name'] }}</label>
              </td>
              <td>
                <input type="radio" id="enable" name="status" value="enable">
                <label for="enable">Activé</label>
                <input type="radio" id="disable" name="status" value="disable">
                <label for="disable">Désactivé</label>
              </td>
              <td>
                <input type="submit" value="Envoyer" />
              </td>
            </tr>
          </form>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
{% include "footer.html" %}
