{%- extends "bootstrap/base.html" %}
{% block title %}My OpenWeatherStation{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
<link rel="shortcut icon" href="../static/img/favicon.ico">
{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='sample-app.css')}}">
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"> </script> -->
          <script	src="https://code.jquery.com/jquery-3.5.1.min.js"	crossorigin="anonymous"></script>
{% endblock %}

{# Finally, round things out with navigation #}
{% block navbar %}
{% if session['logged_in'] %}
{{nav.frontend_top_logued.render()}}
{% else %}
{{nav.frontend_top.render()}}
{% endif %}
{% endblock %}
