    </div>
  </div>
</body>
{%- block footer %}
<footer>&copy; {{ now.year }} built with Flask and made with &hearts; by <a href="https://www.linkedin.com/in/julientoutain/">Julien TOUTAIN</a></footer>
{%- endblock footer %}
</html>
