{% extends "base.html" %}

{% block head %}
{{super()}}

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" type="text/css"
			href="{{url_for('static', filename='sample-app.css')}}"> -->
<!-- <script	src="https://code.jquery.com/jquery-3.5.1.min.js"	crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highstock/6.0.3/highstock.js" integrity="sha256-GCe8nA3KpvWMG2mot9y7BYgEI8/eQUmPZx6nANLqrXE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highstock/6.0.3/highcharts-more.js" integrity="sha256-U/8sfvPzZE+idp7mYq5nO0F5htsBqPGrsbQYpklC4b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highstock/6.0.3/js/modules/exporting.js" integrity="sha256-NsAUK2Jq65AmwuuDxCqvD31KG8jM63ZZcmGIt/hPaIs=" crossorigin="anonymous"></script>
<script>
setTimeout(function(){window.location.reload(1);}, 600000);
$(function () {
//$.getJSON('http://localhost/api/v1/data/?sonde_id=1&data_mode=api', function (data) {
$(function (data) {
// $.getJSON('http://localhost:5000/data.json', function (data) {
	// console.log({{data}});
	// for (var i = 0; i < data.length; i++){
	//    console.log("<br><br>array index: " + i);
	//    var obj = data[i];
	//    for (var key in obj){
	//      var value = obj[key];
	//      console.log("<br> - " + key + ": " + value);
	//    }
	//  }
		// Create the chart
		var chart = new Highcharts.StockChart('graph', {

		// $('#container').highcharts('StockChart', {
				rangeSelector : {
				allButtonsEnabled: true,
				buttons: [ {
						type: 'all',
						text: 'All',
						dataGrouping: {
								forced: false,
								units: [['minute', [1]]]
						}
				},
				{
						type: 'day',
						text: 'Hour',
						dataGrouping: {
								forced: true,
								units: [['hour', [1]]]
						}
				},
				{
						type: 'month',
						count: 3,
						text: 'Day',
						dataGrouping: {
								forced: true,
								units: [['day', [1]]]
						}
				}, {
						type: 'year',
						count: 1,
						text: 'Week',
						dataGrouping: {
								forced: true,
								units: [['week', [1]]]
						}
				}, {
						type: 'all',
						text: 'Month',
						dataGrouping: {
								forced: true,
								units: [['month', [1]]]
						}
				}],
				buttonTheme: {
						width: 60
				},
				selected: 0
		},
				chart: {
						type: 'spline'
				},
				title : {
						text : 'Donnée de la sonde'
				},
				series : [{
						name : 'Temperature',
						data: {{data}}[0],
						tooltip: {
								valueDecimals: 1
						}
				},
				{
						name : 'Humidite',
						data: {{data}}[1],
						tooltip: {
								valueDecimals: 1
						}
				}]
		});
});
});
</script>
{%- endblock %}

{% block styles -%}
		{{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
										will disappear! #}
		<link rel="stylesheet" type="text/css"
					href="{{url_for('static', filename='sample-app.css')}}">
		<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"> </script> -->
					<script	src="https://code.jquery.com/jquery-3.5.1.min.js"	crossorigin="anonymous"></script>
{% endblock %}

{# Finally, round things out with navigation #}
{% block navbar %}
{% if session['logged_in'] %}
{{nav.frontend_top_logued.render()}}
{% else %}
{{nav.frontend_top.render()}}
{% endif %}
{% endblock %}


{%- block content %}


	<div class="container">
		<div id="graph" class="jumbotron" style="padding-top: 100px; min-width: 310px; height: 800px; margin: 0 auto">
		</div>
	</div>

{%- include "footer.html" %}
{%- endblock %}
