{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{%- block content %}
{%- if iframe %}
<iframe frameborder='0' noresize='noresize' style='position: absolute; background: transparent; width: 100%; height:100%;' src="{{ iframe }}" frameborder="0"></iframe>
{%- else %}
<script type="text/javascript">
  setTimeout(function(){
                           window.location.reload(1);
                        }, 60*60000);
</script>
 <div class="container">
   <h1> Welcome to my OpenWeatherStation</h1><br>
 {%- with messages = get_flashed_messages(with_categories=True) %}
 {%- if messages %}
   <div class="row">
     <div class="col-md-15">
       {{utils.flashed_messages(messages)}}
     </div>
   </div>
 {%- endif %}
 {%- endwith %}
   <div class="jumbotron">
      <p>
       {%- for sonde in sondes_list %}
        <h2>Station</h2>
        <table class="tg">
             <thead>
               <tr>
                 <th class="tg-0lax col-md-2"><strong>Nom</strong></th>
                 <th class="tg-0lax col-md-1"><strong>Pays</strong></th>
                 <th class="tg-0lax col-md-4"><strong>Localisation</strong></th>
                 <th class="tg-0lax col-md-1"><strong>Statut</strong></th>
                 <th class="tg-0lax col-md-1"><strong>Température</strong></th>
                 <th class="tg-0lax col-md-1"><strong>Humidité</strong></th>
                 <th class="tg-0lax col-md-3"><strong>Dernier relevé</strong></th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <td class="tg-0lax"><a href="/graph/{{sonde['id']}}">{{ sonde['name'] }}</a></td>
                 <td class="tg-0lax"><img class="country_flag" src="https://countryflagsapi.com/png/{{ sonde['country_code']}}"></td>
                 <td class="tg-0lax">
                   <a href="https://www.openstreetmap.org/?search?query={{ sonde['long'] }}&minlat={{ sonde['lat'] }}" target="_blank">
                     {% if sonde['country_code'] == 'fr' %}
                      <img class="country_flag" src="{{ url_for('static', filename='img/departments/')}}{{sonde['postal_code'][0:2]}}.png">
                     {%- endif %}
                      {{ sonde['city'] }} - {{ sonde['postal_code'] }} - {{ sonde['country'] }}
                   </a>
                 </td>
                 <td class="tg-0lax">
                   {% if sonde['status'] == 1 %}
                      <i class="fas fa-check"></i>
                    {% else %}
                      <i class="fas fa-times"></i>
                   {%- endif %}
                </td>
                <td class="tg-0lax">
                      {% if sonde['temperature'] %}
                        {{ sonde['temperature'] }}°C
                      {% else %}
                        <i class="fas fa-times"></i>
                      {%- endif %}
                </td>
                <td class="tg-0lax">
                      {% if sonde['humidite'] %}
                        {{ sonde['humidite'] }}%
                      {% else %}
                        <i class="fas fa-times"></i>
                        {%- endif %}
                </td>
                <td class="tg-0lax">
                      {% if sonde['datetime'] %}
                        {{ sonde['datetime'] }}
                      {% else %}
                        <i class="fas fa-times"></i>
                        {%- endif %}
                </td>
               </tr>
               </table>
               <br>
               {%- if sonde['forecast_data']['current'] %}
                 <h2>Prévisions 7 jours</h2>
                 <table class="tg">
                 <thead>
                   <tr>
                     <th class="tg-0lax"><strong></strong></th>
                     <th class="tg-0lax"><strong>Actuellement</strong></th>
                     <th class="tg-0lax"><strong>J</strong></th>
                     <th class="tg-0lax"><strong>J+1</strong></th>
                     <th class="tg-0lax"><strong>J+2</strong></th>
                     <th class="tg-0lax"><strong>J+3</strong></th>
                     <th class="tg-0lax"><strong>J+4</strong></th>
                     <th class="tg-0lax"><strong>J+5</strong></th>
                     <th class="tg-0lax"><strong>J+6</strong></th>
                     <th class="tg-0lax"><strong>J+7</strong></th>
                   </tr>
                 </thead>
                 <tr>
                   <td class="tg-0lax">
                   Date
                   </td>
                   <td class="tg-0lax">
                   {{ sonde['forecast_data']['current']['dt']|ctime|strftime }}
                   </td>
                   {%- for jour in sonde['forecast_data']['daily'][:8] %}
                   <td class="tg-0lax">
                     {{ jour['dt']|ctime|strftime}}<br>
                   </td>
                   {%- endfor %}
                 </tr>
                 <tr>
                   <td class="tg-0lax">
                     Prévisions<br>
                   </td>
                   <td class="tg-0lax">
                     {{ sonde['forecast_data']['current']['weather'][0]['description']}}<br>
                     <img src="http://openweathermap.org/img/wn/{{ sonde['forecast_data']['current']['weather'][0]['icon']}}@2x.png"/><br>
                   </td>
                   {%- for jour in sonde['forecast_data']['daily'][:8] %}
                   <td class="tg-0lax">
                     {{ jour['weather'][0]['description']}}<br>
                     <img src="http://openweathermap.org/img/wn/{{ jour['weather'][0]['icon']}}@2x.png"/>
                   </td>
                   {%- endfor %}
                 </tr>
                 <tr>
                   <td class="tg-0lax">
                     Température<br>
                   </td>
                   <td class="tg-0lax">
                     {{ sonde['forecast_data']['current']['temp'] }}°C <br>(ressentie {{ sonde['forecast_data']['current']['feels_like'] }}°C)
                   </td>
                   {%- for jour in sonde['forecast_data']['daily'][:8] %}
                   <td class="tg-0lax">
                     {{ jour['temp']['day'] }}°C<br>
                     <span style='color:blue'>({{ jour['temp']['min'] }}°C</span> / <span style='color:red'>{{ jour['temp']['max'] }}°C</span>)<br>
                   </td>
                   {%- endfor %}
                 </tr>
                 <tr>
                   <td class="tg-0lax">
                     Humidité<br>
                   </td>
                   <td class="tg-0lax">
                     {{ sonde['forecast_data']['current']['humidity'] }}%
                   </td>
                   {%- for jour in sonde['forecast_data']['daily'][:8] %}
                   <td class="tg-0lax">
                     {{ jour['humidity'] }}%
                   </td>
                   {%- endfor %}
                </tr>
          </table>
        {%- endif %}
        <br>
        {%- if sonde['daily_data']%}
        <h2>Historique des relevés</h2>
        <table class="tg">
        <thead>
          <tr>
            <!-- <th class="tg-0lax col-md-3"><strong>Nom</strong></th> -->
            <th class="tg-0lax col-md-1"><strong>Nombre de mesures</strong></th>
            <th class="tg-0lax col-md-2"><strong>Température mini / maxi</strong></th>
            <th class="tg-0lax col-md-1"><strong>Température moyenne 24h</strong></th>
            <th class="tg-0lax col-md-1"><strong>Humidité moyenne 24h</strong></th>
            <th class="tg-0lax col-md-2"><strong>Date</strong></th>
          </tr>
        </thead>
        <tbody>
              {%- for daily_data in sonde['daily_data'] %}
               <tr>
                 <!-- <td class="tg-0lax"><a href="/graph/{{sonde['id']}}">{{ sonde['name'] }} - {{ sonde['city'] }} - {{ sonde['postal_code'] }}</a></td> -->
                 <td class="tg-0lax">
                   {% if daily_data['nb_measures'] %}
                     {{ daily_data['nb_measures'] }}
                   {% else %}
                     <i class="fas fa-times"></i>
                   {%- endif %}
                 </td>
                 <td class="tg-0lax">
                   {% if daily_data['temp_mini'] and daily_data['temp_max'] %}
                      <span style="color: blue;">{{ daily_data['temp_mini']}}°C</span> / <span style="color: red;">{{ daily_data['temp_max']}}°C</span>
                    {% else %}
                      <i class="fas fa-times"></i>
                   {%- endif %}
                </td>
                <td class="tg-0lax">
                      {% if daily_data['temperature'] %}
                      {% if daily_data['temperature'] > 20 %}
                       <span style="color: red;">
                      {% else %}
                       <span style="color: blue;">
                      {% endif %}
                        {{'%0.2f'| format(daily_data['temperature']|float)}}°C
                      </span>
                      {% else %}
                        <i class="fas fa-times"></i>
                      {%- endif %}
                </td>
                <td class="tg-0lax">
                      {% if daily_data['humidite'] %}
                      {% if daily_data['humidite'] > 70 %}
                         <span style="color: blue;">
                      {% elif daily_data['humidite'] > 50 %}
                         <span style="color: skyblue;">
                      {% else %}
                         <span style="color: lightblue;">
                      {% endif %}
                        {{'%0.2f'| format(daily_data['humidite']|float)}}%
                       </span>
                      {% else %}
                       <i class="fas fa-times"></i>
                        {%- endif %}
                </td>
                <td class="tg-0lax">
                      {% if daily_data['jour'] %}
                        {{ daily_data['jour'] }}
                      {% else %}
                        <i class="fas fa-times"></i>
                        {%- endif %}
                </td>
               </tr>

             {%- endfor %}
         </tbody>
         </table>
        {%- endif %}
         <br><br>
             {%- endfor %}
      </p>
   </div>
  </div>
  <script src="https://kit.fontawesome.com/de4bbb3a14.js" crossorigin="anonymous"></script>
{%- endif %}
{{super()}}
{%- include "footer.html" %}
{%- endblock content %}
