{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    {% if session['logged_in'] %}
    Vous êtes déjà connecté
    <!-- Logged in -->
    {% else %}
    <!-- Not Logged in -->
    <h2>Connexion</h2>
    <form method="POST" action="/login">
      <p>
      {{ form.csrf_token }}
      {{ form.username.label }} {{ form.username(size=20) }}
      {{ form.password.label }} {{ form.password(size=20) }}
      </p>
      <input type="submit" value="Se connecter">
    </form>
  </div>
    {% endif %}

  </div>
</div>
{% endblock %}
