{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <div class="container">
    <div class="jumbotron">
      <div id="map" style="height: 85vh;"></div>
      <button id='red' onclick="changeZoom()">
              Vue sur la France
      </button>
    </div>
    </div>



    <script>
        // CONFIGURATION DE LA CARTE //
        var map = L.map('map').setView([48.5, 2.5], 8);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // ACTIONS SUR LA CARTE

        function changeZoom() {
            map.setZoom(7);
            map.setView([48.702629, 2.4773815]);

        }

        function ajouteMarker(){
            var marker = L.marker()
            marker.bindPopup().openPopup();

        }

        var marker;
            map.on('click', function(event){

                if (marker == undefined) {

                    marker = L.marker(event.latlng)
                    marker.addTo(map);
                    console.log(event.latlng)
                    marker.bindPopup("X: "+event.latlng.lng.toString()+" Y: "+event.latlng.lat.toString()).openPopup();
                            }

                else {
                    map.removeLayer(marker)
                    marker = L.marker(event.latlng)
                    marker.addTo(map);
                    marker.bindPopup("X: "+event.latlng.lng.toString()+" Y: "+event.latlng.lat.toString()).openPopup();
                }

            });

        var jsonData = [
        {% for sonde in sondes_list %}
            {
            "ID": "{{ sonde.id }}",
            "LNG": "{{ sonde.long }}",
            "LAT": "{{ sonde.lat }}",
            "NAME": "{{ sonde.name }}",
            "EMAIL": "{{ sonde.email }}",
            "CITY": "{{ sonde.city }}",
            {% if sonde['status'] == 1 %}
            "TEMPERATURE": "{{ sonde.temperature }}",
            "HUMIDITE": "{{ sonde.humidite }}",
            "RELEVE": "{{ sonde.datetime }}"
            {%- endif %}
            },
        {% endfor %}

            ]

            // if (point.TEMPERATURE == null){
            //   point.TEMPERATURE = 0;
            // };
            var addMarkers = function(point) {
                L.marker([point.LAT, point.LNG])
                .addTo(map)
                .bindPopup(
                "<strong>Nom:</strong> "+point.NAME+"<br>\
                <strong>Localisation:</strong> "+point.CITY+"<br>\
                <strong>Température:</strong> "+point.TEMPERATURE+"°C<br>\
                <strong>Humidité:</strong> "+point.HUMIDITE+"%<br>\
                <strong>Dernier relevé:</strong> "+point.RELEVE+"<br>\
                <strong>Graphique:</strong> <a href='/graph/"+point.ID+"'>Lien</a><br>\
                <strong>Contact:</strong> "+ point.EMAIL, {minWidth : 200});

            };
            jsonData.forEach(addMarkers);

    </script>

{% endblock %}
{%- include "footer.html" %}
