{% extends "base.html" %}

{% block content %}

<div class="container">
    {% if session['logged_in'] %}
    Vous êtes déjà connecté
    <!-- Logged in -->
    {% else %}
    <!-- Not Logged in -->
  <div class="jumbotron">
    <h2>Inscription</h2>
    <form method="POST" action="/signup">
      <p>
      {{ signupform.csrf_token }}
      {{ signupform.username.label }} {{ signupform.username(size=20) }}
      {{ signupform.password.label }} {{ signupform.password(size=20) }}
      {{ signupform.firstname.label }} {{ signupform.firstname(size=20) }}
      {{ signupform.lastname.label }} {{ signupform.lastname(size=20) }}
      {{ signupform.email.label }} {{ signupform.email(size=20) }}
      </p>
      <input type="submit" value="Créer mon compte">
    </form>
    {% endif %}

  </div>
</div>
{% endblock %}
