.fa-check {
  color: green;
}
.fa-times {
  color: red;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.navbar-collapse {
  padding-left: 100px;
}
.navbar-brand span {
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0px;
  margin-bottom: 0px; */
}
.navbar-brand img {
  height: 48px;
  width: 48px;
  margin-left: 50px;
}
.navbar-default {
  min-width:1300px;
  margin-bottom: 5px;
}
.map {
  min-width: 1300px;
  max-height: 800px;
}
.country_flag {
  max-height: 25px;
}
table {min-width:1230px;}

.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;}

.tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}

.tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}

.tg .tg-buh4{background-color:#f9f9f9;text-align:left;vertical-align:top}

.tg .tg-0lax{text-align:left;vertical-align:top}

.container .jumbotron, .container-fluid .jumbotron{padding-left:20px; padding-right:20px; padding-top: 10px; padding-bottom: 10px; opacity:90%}

.container {min-width:1300px;}

h1{width:600px;margin-left: auto;margin-right: auto;}

h2{width:300px;margin-left: auto;margin-right: auto; text-align: center;}

h1 {
  background-color: #eee;
  border-radius: 6px;
  opacity: 80%;
}
input {
    width: 100%;
    padding: 10px;
    margin: 0px;
}
.jumbotron {
  opacity: 90%;
}
body {
  background: url(https://source.unsplash.com/1600x900/?weather,cloud,rain,snow);
  background-size: cover;
  border-radius: 6px;
}
footer {
   position:fixed;
   left:40%;
   bottom:0px;
   height:auto;
   width:20%;
   text-align: center;
   background-color: #eee;
   border-radius: 6px;
   opacity: 80%;
}
